* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bnt-min{
    display: inline-block;
    color:red;
}
.btn-max{
    display: inline-block;
}